# This .travis.yml is based on LOOT's .travis.yml:
# https://github.com/loot/loot/blob/dev/.travis.yml
# but see also at:
# https://genbattle.bitbucket.io/blog/2016/01/17/c++-travis-ci/?
 
# We are dealing with a C++ project.
language: cpp

# Use Ubuntu 14.04.5 LTS (Trusty Tahr) instead of Ubuntu 12.04.5 LTS (Precise Pangolin)
dist: trusty

# We're going to need boost for all configurations
addons:
  apt:
    sources: &default_sources
      - ubuntu-toolchain-r-test
    packages: &default_packages
      - libboost-all-dev

matrix:
  include:
   
    - os: linux
      compiler: gcc
      env: CC_COMPILER_NAME='gcc-6' CXX_COMPILER_NAME='g++-6'
      addons:
        apt:
          sources:
            - *default_sources
          packages: [ *default_packages, gcc-6, g++-6 ]

    - os: linux
      compiler: clang
      env: CC_COMPILER_NAME='clang-3.8' CXX_COMPILER_NAME='clang++-3.8'
      addons:
        apt:
          sources: 
            - *default_sources
            - llvm-toolchain-trusty
          packages:
            - *default_packages
            - clang-3.8
            - clang++-3.8
            - libstdc++-6-dev

    - os: linux
      compiler: clang
      env: CC_COMPILER_NAME='clang-4.0' CXX_COMPILER_NAME='clang++-4.0'
      addons:
        apt:
          sources:
            - *default_sources
            - llvm-toolchain-trusty-4.0
          packages:
            - *default_packages
            - clang-4.0
            - clang++-4.0
            - libstdc++-6-dev

    - os: osx
      osx_image: xcode8.2
      compiler: clang
      env: CC_COMPILER_NAME='cc' CXX_COMPILER_NAME='c++' CLANGSOURCE=APPLE

    - os: osx
      osx_image: xcode9.1
      compiler: clang
      env: CC_COMPILER_NAME='cc' CXX_COMPILER_NAME='c++' CLANGSOURCE=APPLE

#    - os: osx
#      osx_image: xcode8.2
#      compiler: clang
#      env: CC_COMPILER_NAME='/usr/local/bin/clang-3.8' CXX_COMPILER_NAME='/usr/local/bin/clang++-3.8' CLANGSOURCE=LLVM

before_install:
  # Check commit matches expected commit (because of Travis bug)
  - if [[ "$TRAVIS_COMMIT" != "$(git rev-parse HEAD)" ]]; then echo "Commit $(git rev-parse HEAD) doesn't match expected commit $TRAVIS_COMMIT"; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] && [[ "$CLANGSOURCE" == "LLVM" ]]; then brew update && brew install --with-clang llvm38 && brew link --force --overwrite llvm38; fi
  # This needs to be done because we want to override Travis's definitions of CC and CXX that lead to old Ubuntu-packaged compilers
  - export CXX="$CXX_COMPILER_NAME" CC="$CC_COMPILER_NAME"

script:
  - PARALLEL_MAKE=-j2 make install
  - make test
